.form {
    max-width: 1000px;
    margin: 15px auto;
}

.input-text {
    height: 40px;
    width: 1000px;
    padding: 0 15px;
}

.experts {
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.experts li {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 7px;
}

.experts li img {
    border-radius: 50%;
    margin-right: 15px;
}

.experts li div {
    display: flex;
    flex-direction: column;
}

.experts .skills {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.experts .skills li {
    border-radius: 9px;
    color: white;
    background-color: cadetblue;
    padding: 5px;
    margin-right: 7px;
}

.experts .skills li.predicate {
    background-color: darkgoldenrod;
}

.no-results {
    max-width: 1000px;
    margin: 0 auto;
}
